<?xml version='1.0' encoding='utf-8'?>
<widget id="com.topcoder.mood" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <preference name="DisallowOverscroll" value="true" />
    <preference name="StatusBarStyle" value="default" />
    <name>Mood</name>
    <description>
        Mood PhoneGap app.
    </description>
    <author email="support@topcoder.com" href="http://www.topcoder.com">
        Topcoder Inc.
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="www/icon.png" />
    <engine name="ios" spec="~3.9.1" />
</widget>
