<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isManagerFlag</key>
	<false/>
	<key>salesforceKey</key>
	<string>3MVG9Rd3qC6oMalVbp2nTI6GofhKQHE1hxNpBiErSK0QYB3z7en1mQ4ULcyYlTqX6snP_sfw_e.tvl8UKfApu</string>
	<key>salesforceCallback</key>
	<string>sfdc://success</string>
</dict>
</plist>
