@charset "utf-8";
/* CSS Document */


/* -------------
 * Radios
 * ------------- */
span.jqTransformRadioWrapper {
  float: left;
  display:block;
}
a.jqTransformRadio {
  vertical-align: middle;
  height: 19px;
  width: 19px;
  display:block;
  vertical-align: middle;
  background: url(../i/icon-sprites.png) no-repeat;
  background-position: -71px -7px;
  background-size: 375px auto;
  margin: 22px 8px auto 13px;
}
.jqTransformRadioWrapper a.jqTransformChecked { 
	background-position: -103px -7px !important;
}



/* -------------
 * Checkboxes
 * ------------- */
span.jqTransformCheckboxWrapper{
	display:block;
	float:left;
	margin-top:1px;
	margin-right: 6px;
}
a.jqTransformCheckbox {
	background-position: -363px -19px;
	vertical-align: middle;
	height: 19px;
	width: 19px;
	overflow: hidden;
	display:block;/*display: -moz-inline-block;*/
}

/* -------------
 * Checked - Used for both Radio and Checkbox
 * ------------- */
a.jqTransformChecked { background-position: -387px -19px !important;}

/* -------------
 * Selects
 * ------------- */
.selects-container {
  font-size: 15.85px;
  color: #000;
  margin: 0;
}
.selects-container .jqTransformSelectWrapper {
  background: #fff;
  position: relative;
  height: 40px;
  border: 1px solid #efedef;
}
.selects-container .jqTransformSelectWrapper a.jqTransformSelectOpen {
  background: url(../i/icon-sprites.png) no-repeat;
  background-position: -48px 0;
  display: block;
  position: absolute;
  top: 13px;
  right: 6px;
  width: 16px;
  height: 16px;
  overflow: hidden;
  z-index: 99;
}
.selects-container .jqTransformSelectWrapper div span {
  float: none;
  position: absolute;
  white-space: nowrap;
  text-indent: 17px;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  cursor: pointer;
  margin:0;
}
.selects-container .jqTransformSelectWrapper ul {
  text-align:center;
  position: absolute;
  top: 39px;
  left: -1px;
  list-style: none;
  background-color: #fff;
  border: 1px solid #efedef;
  border-top: 0;
  display: none;
  margin: 0;
  padding: 5px 0;
  overflow: auto;
  overflow-y: auto;
  z-index: 1000;
}
.selects-container .jqTransformSelectWrapper ul li {
  padding: 0;
  margin: 0;
  text-align: left;
}
.selects-container .jqTransformSelectWrapper ul a {
  font-size: 15.85px;
  color:#000;
  text-indent: 17px;
  display: block;
  text-decoration: none;
  line-height: 22px;
  padding: 0 0 3px 0;
}
.selects-container .jqTransformSelectWrapper ul a.selected {
  color: #000;
}
.selects-container .jqTransformSelectWrapper ul a:hover,
.selects-container .jqTransformSelectWrapper ul a.selected:hover {
  color: #959292;
  text-decoration: none;
}
/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
.jqTransformHidden {
  display: none;
}
